<div class="blog-container">
  <header class="header">
    <div class="logo">
      <img src="assets/logo.png" alt="F1 Team Logo">
    </div>
    <div class="header-text">
      <h1>Blog para fans del deporte de motor</h1>
      <p>En este blog podrás mantenerte al tanto de las noticias de la F1</p>
    </div>
  </header>

  <nav class="navbar">
    <button>Noticias</button>
    <button>Pilotos</button>
    <button>Escuderías</button>
    <button>Posiciones</button>
  </nav>

  <div class="content">
    <div class="card">
      <img src="assets/max.jpeg" alt="Max Verstappen">
      <h2>Max Verstappen enfrenta una fuerte penalización</h2>
      <p>El piloto de Red Bull Max Verstappen se prepara para recibir una fuerte penalización en la parrilla de salida para el Gran Premio de Austria de la Fórmula 1</p>
    </div>

    <div class="card">
      <img src="assets/checo.jpeg" alt="Sergio Pérez">
      <h2>Amistades al volante</h2>
      <p>Actualmente Pérez ocupa el 5to lugar en la tabla de clasificación del campeonato de pilotos de la Fórmula 1 en la campaña 2024 Sergio ‘Checo’ Pérez comparte quiénes son sus amigos en la Fórmula 1</p>
    </div>

    <div class="card">
      <img src="assets/mejoras.jpeg" alt="New Rules">
      <h2>Nuevas reglas de la temporada 2024 de Fórmula 1</h2>
      <p>La temporada 2024 de F1 se basa en los drásticos cambios de 2022. Esto significa que habrá algunas modificaciones interesantes en la pista</p>
    </div>
  </div>

  <footer class="footer">
    <p>Síguenos en nuestras redes sociales</p>
    <div class="social-media">
      <a href="#"><img src="assets/logof.png" alt="Facebook"></a>
      <a href="#"><img src="assets/instagram.png" alt="Instagram"></a>
      <a href="#"><img src="assets/logox.png" alt="Twitter"></a>
    </div>
    <div class="footer-logo">
      <img src="assets/logo.png" alt="F1 Team Logo">
    </div>
  </footer>
</div>
